.ArticleCard {
    width: 25%;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: 1px solid rgba(147, 162, 211, 0.38);    border-radius: 12px;
}

.ArticleCard > img {
    margin: 12px 0;
    width: 90%;
    border-radius: 20px;
}

.ArticleCard > h1 {
    font-size: 20px;
    letter-spacing: 0.04em;
    font-weight: 700;
    margin: 6px 0 0 0;
    color: #0E2368;
    font-family: "Poppins";
}
.ArticleCard > p {
    font-size: 14px;
    margin: 16px 12px;
    text-align: justify;
    padding: 0 12px;
    color: #444957;
    font-family: "Source Sans Pro";
}

.ArticleCard > button {
    align-self: start;
    margin: 8px 0 24px 22px;

    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;

    width: 40%;
    height: 32px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.82);
    background-color: transparent;
    color: black;
}

@media (max-width: 600px) {
    .ArticleCard {
        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        border: 1px solid black;
        border-radius: 26px;
    }

    .ArticleCard > img {
        margin: 24px 0;
        width: 90%;
        border-radius: 28px;
    }

    .ArticleCard > h1 {
        font-size: 18px;
        margin: 4px 0 0 0;
    }
    .ArticleCard > p {
        font-size: 14px;
        margin: 16px 14px;
    }

    .ArticleCard > button {
        align-self: center;
        position: static;
        margin: 12px 0 30px 0;

        width: 45%;
        height: 34px;
        border-radius: 28px;
        border: 2px solid #424961;
        background-color: transparent;
        color: black;
    }
}