.AboutArea {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
}

.AboutImage {
    width: 20%;
}

.AboutTexts {
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 30%;
}

.AboutTexts > h1 {
    color: #0E2368;
    font-size: 36px;
    margin: 0;
}
.AboutTexts > p {
    font-size: 14px;
    margin: 1.4rem 0;
}


.AboutTexts > button {
    height: 36px;
    width: 156px;
}

@media (max-width: 600px) {
    .AboutArea {
        padding: 2rem 0;
        flex-direction: column;
        align-items: center;
    }

    .AboutTexts {
        align-items: center;
        text-align: center;
        width: 80%;
    }
}