.ArticleArea {
    margin: 18px 0;
    width: 100vw;

    display: flex;
    flex-direction: column;
}
.ArticleAreaHeadline {
    font-size: 48px;
    font-weight: 500;

    position: relative;
    left: 12%;
    margin: 12px 0;
}

.ArticleArea > h1 {}

.Articles {
    margin-top: 12px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 2rem;
    /*overflow-x: hidden;*/
}

.ArticleCard {
    width: 25%;
    height: fit-content;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: 1px solid black;
    border-radius: 12px;
}

.ArticleCard > img {
    width: 100%;
}

.ArticleCard > h1 {
    font-size: 20px;
    margin: 4px 0 0 0;
}
.ArticleCard > p {
    font-size: 14px;
    margin: 16px 0;
}

.ArticleCard > button {
    align-self: start;

    width: 40%;
    height: 32px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

.PageSlider {
    display: flex;
    flex-direction: row;

    justify-content: center;
    margin: 8px 0;
}

.LeftArrow {
    height: 22px;
}

.RightArrow {
    transform: rotate(180deg);
}

.active {
    font-weight: bold;
}

