.FooterLogo {
    height: 80px;
    align-self: center;
}

.FooterH1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}

.ContactUs {
    width: 20%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.ContactUs > p {
    color: #646874;
    font-weight: 400;
    margin: 12px 0 0 0;
}

.MoreOptions {
    width: fit-content;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.MoreOptions > a {
    margin: 12px 0 0 0;
    text-decoration: none;
    color: #646874;
    font-weight: 400;
}

.Socials {
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Socials * {
    margin: 4px 0;
}

.SocialsRow {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

.CopyrightText {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;

    margin: auto 0;
    position: relative;
    bottom: -12%;
    color: #828B9C;
}

@media (max-width: 600px) {
    .FooterLogo {
        width: 75px;
        height: 58px;
    }

    .ContactUs {
        width: 70%;

        justify-content: start;
        align-content: start;
    }
    .ContactUs > p {
        margin: 4px 0;
    }

    .MoreOptions {
        width: 70%;
    }
    .MoreOptions > a {
        margin: 4px 0;
    }

    .Socials {
        width: 70%;
    }
    .SocialsRow {
        gap: 0;
        justify-content: space-evenly;
    }
}